body{
  background-color: #eaeaea;
}

.fundo{
  width: 100%;
}

.logo_senai{
  margin-left: 50%;
  margin-top: 10px;
}

.cards{
 margin-left: 30%;
  margin-top: 20px;
}

.titulo-meus-chamados h2{
  margin-left: 51.7%;
  margin-top: 3%;
}