body{
  background-color: #eaeaea;
}

.fundo{
  width: 100%;
}

.logo_senai{
  margin-left: 50%;
  margin-top: 10px;
}

.cards{
  margin-left: 30%;
  margin-top: 20px;
}

h2{
  margin-left: 30%;
  margin-top: 3%;
}