@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --branco: #ffff;
  --vermelhoEscuro: #8e0009;
  --vermelhoMedio: #b5000c;
  --vermelho: #e30615;
  --preto: #000000;
  --cinza: #808080;
  font-family: "Montserrat", sans-serif;

}

.card {
  width: 15.3rem; 
  height: 55%;
  border-radius: 20px;
  border: 0;
  transition: all 0.2s ease-in-out;
  
}

.card:hover{
  transform: translateY(-5);
  cursor: pointer;
}

.card-prioridade-emergencia {
  background-color: var(--vermelho);
  width: 100%;
  border-radius: 20px 20px 0px 0 ;
  padding: 3px 10px 1px 10px;
  } 

  .card-prioridade-emergencia p{
  background-color: var(--vermelho);
  margin-bottom: 1%;
  margin-top: 1%;
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
}

.card-prioridade-muito-urgente {
  background-color: #1800ad;
  width: 100%;
  border-radius: 20px 20px 0px 0 ;
  padding: 3px 10px 1px 10px;
}

.card-prioridade-muito-urgente p{
  background-color: #1800ad;
  margin-bottom: 1%;
  margin-top: 1%;
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
}

.card-prioridade-urgente {
  background-color: #c7ae4a;
  width: 100%;
  border-radius: 20px 20px 0px 0 ;
  padding: 3px 10px 1px 10px;
}

.card-prioridade-urgente p{
  background-color: #c7ae4a;
  margin-bottom: 1%;
  margin-top: 1%;
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
}

.card-prioridade-pouco-urgente {
  background-color: #ff7f00;
  width: 100%;
  border-radius: 20px 20px 0px 0 ;
  padding: 3px 10px 1px 10px;
}

.card-prioridade-pouco-urgente p{
  background-color: #ff7f00;
  margin-bottom: 1%;
  margin-top: 1%;
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
}

.card-prioridade-nao-urgente p{
  background-color: #00bf63;
  margin-bottom: 1%;
  margin-top: 1%;
  color: #fff;
  font-family: "Montserrat", sans-serif !important;
}

.card-prioridade-nao-urgente {
  background-color: #00bf63;
  width: 100%;
  border-radius: 20px 20px 0px 0 ;
  padding: 3px 10px 1px 10px;
}

.card-titulo h3{
  color: #000;
  font-size: 22px;
  font-weight: 700;
}

.card-patrimonio{
  max-width: 98%;
  width: 82%;
  align-items: center;
  justify-content: center;
  display: grid;
}

.card-patrimonio p{
  color: #000;
  background-color: #fff;
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 600;
}

.card-descricao{
  font-family: "Montserrat", sans-serif;
  max-width: 85%;
  padding-left: 12%;
  align-items: center ;
  justify-content: center;
  display: flex;
  margin-top: 3px;
  
}

.card-descricao p{
  font-size: 14px;
}

.card-tecnico{
  font-family: "Montserrat", sans-serif;
  max-width: 85%;
  padding-left: 12%;
  align-items: center ;
  justify-content: center;
  display: flex;
  margin-top: 3px;
  
}

.card-tecnico p{
  font-size: 14px;
}

.status-card{
  margin-top:14px;
  color: var(--vermelhoEscuro);
  font-size: 12px;
}

.chat{
  margin-bottom: 10px;
}

.chat input{
  border-radius: 15px;
  padding: 5px;
}